<section>
  <h1>{{ page.title }}</h1>

  {{ content }}
  <div>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.6";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

    <div style="vertical-align: top;" class="fb-like" data-href="https://ytakano.github.io{{ page.url }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>

    <iframe
       src="https://platform.twitter.com/widgets/tweet_button.html?size=s&url=https%3A%2F%2Fdev.twitter.com%2Fweb%2Ftweet-button&via=twitterdev&related=twitterapi%2Ctwitter&text=custom%20share%20text&hashtags=example%2Cdemo"
       width="140"
       height="20"
       title="Twitter Tweet Button"
       style="border: 0; overflow: hidden; vertical-align: bottom;">
    </iframe>

  </div>

  {% include JB/comments %}
</section>
